html{
  width: 1680px;
  height: auto;
  background-color: antiquewhite;
}

body{
  width: auto;
  height: auto;
}

.table-div{
  display: flex;
  justify-content: space-between;

}

table{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: auto;
  width: 500px;
  border: 10px;
  border-collapse: collapse;
  border: 2px solid black;
  border-radius: 10px;
  background-color:rgb(245, 216, 178);
}

caption{
  font-size: 3rem;
  padding-bottom: 2vh;
  padding-top: 2vh;
  background-color: rgb(245, 216, 178);
  border-radius: 10px;
  border: 5px solid rgb(248, 188, 109);
}

.header-row{
  font-size: 150%;
}

.row{
  font-size: 1.5em;
}

th{
  border: 1px solid black;
  padding: 10px;
}

td{
  display: table-cell;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
}

.clients{
  white-space: nowrap;
}

.services td:nth-child(3){
  background-color: rgba(255, 0, 0, 0.514);
}
.services-provided td:nth-child(4){
  background-color: rgba(217, 250, 31, 0.726);
}
.services td:nth-child(1){
  background-color: rgba(217, 250, 31, 0.726);
}
.services-provided td:nth-child(3){
  background-color: rgba(45, 153, 255, 0.726);
}
.clients td:nth-child(1){
  background-color: rgba(45, 153, 255, 0.726);
}




.buy-div{
  display: flex;
  margin-top: 50px;
}

.order{
  box-sizing: border-box;

  width: 500px;
  height: 1500px;

  background: #F8D8B2;
  border: 1px solid #000000;
}

.pay{
  position: relative;
  left: 100px;

  width: 500px;
  height: 698px;

  background: #F8D8B2;
  border: 1px solid #000000;
}

h1{
  box-sizing: border-box;
  position: relative;

  height: 100px;

  background: #FFCC91;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  align-items: center;
  line-height: 100px;

  text-align: center;
  margin: 70px 70px 50px 70px ;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;

  color: #000000;
}


.order-service{
  display: flex;
  flex-direction: column;
}

.order-service > *{
  text-align: center;
  width: auto;
  height: 100px;
}