html{
  width: 1680px;
  height: auto;
  background-color: antiquewhite;
}

body{
  width: auto;
  height: auto;
}

.table-div{
  display: flex;
  justify-content: space-between;

}

table{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: auto;
  width: 500px;
  border: 10px;
  border-collapse: collapse;
  border: 2px solid black;
  border-radius: 10px;
  background-color:rgb(245, 216, 178);
}

caption{
  font-size: 3rem;
  padding-bottom: 2vh;
  padding-top: 2vh;
  background-color: rgb(245, 216, 178);
  border-radius: 10px;
  border: 5px solid rgb(248, 188, 109);
}

.header-row{
  font-size: 150%;
}

.row{
  font-size: 1.5em;
}

th{
  border: 1px solid black;
  padding: 10px;
}

td{
  display: table-cell;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
}

.clients{
  white-space: nowrap;
}

.services td:nth-child(3){
  background-color: rgba(255, 0, 0, 0.514);
}
.services-provided td:nth-child(4){
  background-color: rgba(217, 250, 31, 0.726);
}
.services td:nth-child(1){
  background-color: rgba(217, 250, 31, 0.726);
}
.services-provided td:nth-child(3){
  background-color: rgba(45, 153, 255, 0.726);
}
.clients td:nth-child(1){
  background-color: rgba(45, 153, 255, 0.726);
}




.buy-div{
  display: flex;
  margin-top: 50px;
}

.order{
  box-sizing: border-box;

  width: 500px;
  height: 1500px;

  background: #F8D8B2;
  border: 1px solid #000000;
}

.pay{
  position: relative;
  left: 100px;

  width: 500px;
  height: 698px;

  background: #F8D8B2;
  border: 1px solid #000000;
}

.header-buy{
  box-sizing: border-box;
  position: relative;

  height: 100px;

  background: #FFCC91;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  align-items: center;
  line-height: 100px;

  text-align: center;
  margin: 20px 50px 50px 50px ;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;

  color: #000000;
}


.order-service{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.order-service > *{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.order-service h1{
  box-sizing: border-box;

  margin-right: 15px;

  width: 350px;
  height: 53px;
  
  background: #FFCC90;
  border: 1px solid #000000;
  border-radius: 10px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 50px;

  color: #000000;
}

.step-circle{
  line-height: 50px;

  box-sizing: border-box;
  margin-left: 15px;

  width: 53px;
  height: 53px;
  left: 41px;
  top: 173px;

  font-size: 2rem;

  color: #FFF3D5;
  
  background: #D23B3B;
  border: 1px solid #000;
  border-radius: 50px;
} 

.order label{
  margin-left: auto;
  margin-right: auto;

  justify-self: center;
}

label{
  width: 200px;

  margin-left: auto;
  margin-right: auto;

  justify-self: center;

  font-size: 1.5em;

}

.serv-choose{
  width: 200px;
  margin-left: 38px;
  background-color: #000;
  box-sizing: border-box;

  width: 420px;
  height: 350px;
  left: 41px;
  top: 246px;

  background: #FFCC90;
  border: 1px solid #000000;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  text-align: start;
}

.checkbox{
  width: 200px;
  display: flex;
  align-self: flex-start;
  white-space: nowrap;
  padding-left: 30px;
}

.check{
  position:absolute;
  z-index: 99;
  opacity: 0;
  transform: scale(3);

} 

.check+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.check+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #D23B3B;
  border-radius: 0.25em;
  margin-right: 0.7em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.check:checked+label::before {
  border-color: #971818;
  background-color: #ca4646;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.check:not(:disabled):not(:checked)+label:hover::before {
  border-color: #e4682e;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.check:not(:disabled):active+label::before {
  background-color: #ff7d6c;
  border-color: #b14335;
  box-shadow: 0 0 0 0.2rem rgba(241, 73, 31, 0.479);
}