body {
  margin: 0;
  font-family: "Cascadia Code", monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #333;
}

a {
  color: #7fff00;
  text-decoration: none;
}

button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #7fff00;
  color: #000;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Press Start 2P", cursive;
}

button:hover {
  background-color: #21c600;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(-3px, -5px);
  }
  60% {
    transform: translate(5px, 15px);
  }
  80% {
    transform: translate(15px, -5px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00,
      0 0 40px #00ff00, 0 0 50px #00ff00;
  }
  to {
    box-shadow: 0 0 20px #21c600, 0 0 30px #21c600, 0 0 40px #21c600,
      0 0 50px #21c600, 0 0 60px #21c600;
  }
}

@keyframes shake {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-5px, -5px);
  }
}

button {
  padding: 10px;
  background-color: #007bff;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
}

.sendBtn {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.SettingsDiv {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #007bff;
  padding: 2vw;
  margin-left: 0.7vw;
  margin-right: 0.7vw;
}

.SettingsDiv span {
  width: max-content;
  display: flex;
  flex-direction: column;
  user-select: none;
  padding: 0 0 0 2vw;
  animation: explode 1s ease-out forwards;
}

.GRID {
  margin-top: 2vh;
  margin-left: 0.7vw;
}

.inputFile {
  display: none;
  margin: 0 auto;
}

#drop-zone {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  margin-left: 0.7vw;
  margin-right: 0.7vw;
  border: 2px dashed #ddc2c2;
  border-radius: 4px;
  padding: 35px;
  text-align: center;
  align-items: center;
  font-size: 20px;
  color: #e9cdcd;
  transition: all 350ms ease-in-out;
  user-select: none;
}

#drop-zone:hover {
  border-color: #eb9e9e;
  color: #e06d6d;
  transition: all 350ms ease-in-out;
  cursor: pointer;
}

#drop-zone img {
  max-width: 100%;
  height: auto;
}

.GridSpan:hover {
  scale: 1000%;
}

.grid-span-animation {
  -webkit-animation: slide-in-blurred-top 0.3s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-top 0.3s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(1.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(1.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(1.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(1.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes explode {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(calc(var(--x) - 50%), calc(var(--y) - 50%), 0)
      scale3d(2, 2, 2);
  }
}
