* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  font-family: sans-serif;
  background-color: rgba(0, 225, 255, 0.363);
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #3E1E68;
  overflow: hidden;
  z-index: -9;
}

.background span {
  width: 50vmin;
  height: 50vmin;
  border-radius: 50vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 37;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #FFACAC;
  top: 63%;
  left: 16%;
  animation-duration: 56s;
  animation-delay: -109s;
  transform-origin: 5vw 17vh;
  box-shadow: -100vmin 0 13.357249811146005vmin currentColor;
}
.background span:nth-child(1) {
  color: #583C87;
  top: 26%;
  left: 98%;
  animation-duration: 93s;
  animation-delay: -79s;
  transform-origin: -20vw -6vh;
  box-shadow: -100vmin 0 12.62712805371779vmin currentColor;
}
.background span:nth-child(2) {
  color: #E45A84;
  top: 26%;
  left: 54%;
  animation-duration: 90s;
  animation-delay: -30s;
  transform-origin: 22vw -12vh;
  box-shadow: -100vmin 0 13.022520701062716vmin currentColor;
}
.background span:nth-child(3) {
  color: #E45A84;
  top: 55%;
  left: 6%;
  animation-duration: 45s;
  animation-delay: -29s;
  transform-origin: -7vw -1vh;
  box-shadow: 100vmin 0 12.934146321103695vmin currentColor;
}
.background span:nth-child(4) {
  color: #583C87;
  top: 45%;
  left: 34%;
  animation-duration: 131s;
  animation-delay: -3s;
  transform-origin: 22vw -3vh;
  box-shadow: 100vmin 0 12.511119428949206vmin currentColor;
}
.background span:nth-child(5) {
  color: #E45A84;
  top: 63%;
  left: 24%;
  animation-duration: 113s;
  animation-delay: -53s;
  transform-origin: 16vw 12vh;
  box-shadow: 100vmin 0 12.951269033313293vmin currentColor;
}
.background span:nth-child(6) {
  color: #583C87;
  top: 57%;
  left: 1%;
  animation-duration: 126s;
  animation-delay: -59s;
  transform-origin: 22vw 13vh;
  box-shadow: 100vmin 0 12.84149873478068vmin currentColor;
}
.background span:nth-child(7) {
  color: #E45A84;
  top: 35%;
  left: 64%;
  animation-duration: 33s;
  animation-delay: -113s;
  transform-origin: -24vw 12vh;
  box-shadow: 100vmin 0 13.49611643016694vmin currentColor;
}
.background span:nth-child(8) {
  color: #583C87;
  top: 100%;
  left: 6%;
  animation-duration: 110s;
  animation-delay: -17s;
  transform-origin: 21vw 12vh;
  box-shadow: -100vmin 0 13.019251209654499vmin currentColor;
}
.background span:nth-child(9) {
  color: #FFACAC;
  top: 11%;
  left: 6%;
  animation-duration: 24s;
  animation-delay: -120s;
  transform-origin: -18vw 5vh;
  box-shadow: 100vmin 0 12.983600706609352vmin currentColor;
}
.background span:nth-child(10) {
  color: #583C87;
  top: 68%;
  left: 62%;
  animation-duration: 128s;
  animation-delay: -56s;
  transform-origin: -21vw -11vh;
  box-shadow: 100vmin 0 12.514604726417263vmin currentColor;
}
.background span:nth-child(11) {
  color: #583C87;
  top: 49%;
  left: 1%;
  animation-duration: 25s;
  animation-delay: -126s;
  transform-origin: 19vw -19vh;
  box-shadow: 100vmin 0 13.370722783259938vmin currentColor;
}
.background span:nth-child(12) {
  color: #583C87;
  top: 51%;
  left: 17%;
  animation-duration: 132s;
  animation-delay: -80s;
  transform-origin: 11vw 9vh;
  box-shadow: 100vmin 0 12.580356603883251vmin currentColor;
}
.background span:nth-child(13) {
  color: #FFACAC;
  top: 75%;
  left: 1%;
  animation-duration: 79s;
  animation-delay: -108s;
  transform-origin: -16vw 13vh;
  box-shadow: 100vmin 0 12.655340517479605vmin currentColor;
}
.background span:nth-child(14) {
  color: #583C87;
  top: 1%;
  left: 71%;
  animation-duration: 123s;
  animation-delay: -105s;
  transform-origin: -6vw -10vh;
  box-shadow: 100vmin 0 13.17490309667757vmin currentColor;
}
.background span:nth-child(15) {
  color: #583C87;
  top: 22%;
  left: 42%;
  animation-duration: 104s;
  animation-delay: -56s;
  transform-origin: 12vw -13vh;
  box-shadow: 100vmin 0 12.724545923064008vmin currentColor;
}
.background span:nth-child(16) {
  color: #FFACAC;
  top: 48%;
  left: 33%;
  animation-duration: 100s;
  animation-delay: -99s;
  transform-origin: -13vw 14vh;
  box-shadow: 100vmin 0 13.328537721747892vmin currentColor;
}
.background span:nth-child(17) {
  color: #FFACAC;
  top: 36%;
  left: 70%;
  animation-duration: 17s;
  animation-delay: -94s;
  transform-origin: 1vw -5vh;
  box-shadow: -100vmin 0 13.172447002472916vmin currentColor;
}
.background span:nth-child(18) {
  color: #FFACAC;
  top: 8%;
  left: 3%;
  animation-duration: 110s;
  animation-delay: -92s;
  transform-origin: 18vw -11vh;
  box-shadow: 100vmin 0 13.14309731046751vmin currentColor;
}
.background span:nth-child(19) {
  color: #583C87;
  top: 14%;
  left: 75%;
  animation-duration: 117s;
  animation-delay: -24s;
  transform-origin: -23vw 18vh;
  box-shadow: 100vmin 0 12.517664057275999vmin currentColor;
}
.background span:nth-child(20) {
  color: #E45A84;
  top: 77%;
  left: 7%;
  animation-duration: 122s;
  animation-delay: -94s;
  transform-origin: 22vw 24vh;
  box-shadow: -100vmin 0 13.241303520344896vmin currentColor;
}
.background span:nth-child(21) {
  color: #E45A84;
  top: 75%;
  left: 46%;
  animation-duration: 79s;
  animation-delay: -81s;
  transform-origin: 20vw 7vh;
  box-shadow: -100vmin 0 13.398465829792208vmin currentColor;
}
.background span:nth-child(22) {
  color: #583C87;
  top: 31%;
  left: 27%;
  animation-duration: 31s;
  animation-delay: -65s;
  transform-origin: 4vw 25vh;
  box-shadow: -100vmin 0 12.681633621750239vmin currentColor;
}
.background span:nth-child(23) {
  color: #E45A84;
  top: 36%;
  left: 41%;
  animation-duration: 6s;
  animation-delay: -16s;
  transform-origin: 24vw -6vh;
  box-shadow: -100vmin 0 12.526349612386117vmin currentColor;
}
.background span:nth-child(24) {
  color: #583C87;
  top: 54%;
  left: 84%;
  animation-duration: 67s;
  animation-delay: -59s;
  transform-origin: -19vw -9vh;
  box-shadow: 100vmin 0 12.856645511880297vmin currentColor;
}
.background span:nth-child(25) {
  color: #583C87;
  top: 43%;
  left: 83%;
  animation-duration: 64s;
  animation-delay: -103s;
  transform-origin: -7vw 1vh;
  box-shadow: 100vmin 0 12.854942501047772vmin currentColor;
}
.background span:nth-child(26) {
  color: #FFACAC;
  top: 49%;
  left: 49%;
  animation-duration: 134s;
  animation-delay: -115s;
  transform-origin: -9vw 9vh;
  box-shadow: -100vmin 0 13.289462825772143vmin currentColor;
}
.background span:nth-child(27) {
  color: #E45A84;
  top: 41%;
  left: 6%;
  animation-duration: 124s;
  animation-delay: -40s;
  transform-origin: 13vw -14vh;
  box-shadow: -100vmin 0 12.98092543472018vmin currentColor;
}
.background span:nth-child(28) {
  color: #E45A84;
  top: 89%;
  left: 75%;
  animation-duration: 61s;
  animation-delay: -86s;
  transform-origin: 3vw 5vh;
  box-shadow: 100vmin 0 12.857718736696585vmin currentColor;
}
.background span:nth-child(29) {
  color: #583C87;
  top: 50%;
  left: 64%;
  animation-duration: 103s;
  animation-delay: -10s;
  transform-origin: -22vw -21vh;
  box-shadow: 100vmin 0 12.930517250091222vmin currentColor;
}
.background span:nth-child(30) {
  color: #583C87;
  top: 100%;
  left: 83%;
  animation-duration: 85s;
  animation-delay: -125s;
  transform-origin: 24vw -4vh;
  box-shadow: -100vmin 0 12.971223940880007vmin currentColor;
}
.background span:nth-child(31) {
  color: #E45A84;
  top: 27%;
  left: 60%;
  animation-duration: 99s;
  animation-delay: -41s;
  transform-origin: 25vw -6vh;
  box-shadow: 100vmin 0 13.244255868049171vmin currentColor;
}
.background span:nth-child(32) {
  color: #583C87;
  top: 50%;
  left: 29%;
  animation-duration: 66s;
  animation-delay: -38s;
  transform-origin: -4vw -17vh;
  box-shadow: -100vmin 0 12.598328155353702vmin currentColor;
}
.background span:nth-child(33) {
  color: #E45A84;
  top: 86%;
  left: 35%;
  animation-duration: 57s;
  animation-delay: -70s;
  transform-origin: 0vw -16vh;
  box-shadow: -100vmin 0 13.40262814682868vmin currentColor;
}
.background span:nth-child(34) {
  color: #E45A84;
  top: 30%;
  left: 43%;
  animation-duration: 134s;
  animation-delay: -24s;
  transform-origin: 13vw -2vh;
  box-shadow: -100vmin 0 13.38515607637654vmin currentColor;
}
.background span:nth-child(35) {
  color: #FFACAC;
  top: 46%;
  left: 38%;
  animation-duration: 22s;
  animation-delay: -36s;
  transform-origin: -20vw 15vh;
  box-shadow: -100vmin 0 12.838777367034778vmin currentColor;
}
.background span:nth-child(36) {
  color: #FFACAC;
  top: 54%;
  left: 53%;
  animation-duration: 130s;
  animation-delay: -43s;
  transform-origin: 20vw 3vh;
  box-shadow: 100vmin 0 12.545856998787345vmin currentColor;
}
.background span:nth-child(37) {
  color: #FFACAC;
  top: 58%;
  left: 3%;
  animation-duration: 52s;
  animation-delay: -20s;
  transform-origin: 23vw 7vh;
  box-shadow: -100vmin 0 12.871514683548353vmin currentColor;
}
.background span:nth-child(38) {
  color: #E45A84;
  top: 89%;
  left: 1%;
  animation-duration: 124s;
  animation-delay: -55s;
  transform-origin: -9vw 9vh;
  box-shadow: 100vmin 0 12.94137079216967vmin currentColor;
}
.background span:nth-child(39) {
  color: #FFACAC;
  top: 35%;
  left: 83%;
  animation-duration: 15s;
  animation-delay: -50s;
  transform-origin: 5vw -1vh;
  box-shadow: -100vmin 0 13.061326912913533vmin currentColor;
}
.background span:nth-child(40) {
  color: #583C87;
  top: 38%;
  left: 22%;
  animation-duration: 41s;
  animation-delay: -72s;
  transform-origin: -16vw 10vh;
  box-shadow: -100vmin 0 12.658520541656213vmin currentColor;
}
.background span:nth-child(41) {
  color: #FFACAC;
  top: 34%;
  left: 44%;
  animation-duration: 24s;
  animation-delay: -121s;
  transform-origin: 11vw 17vh;
  box-shadow: -100vmin 0 12.97628106037686vmin currentColor;
}
.background span:nth-child(42) {
  color: #583C87;
  top: 88%;
  left: 16%;
  animation-duration: 42s;
  animation-delay: -46s;
  transform-origin: -22vw 20vh;
  box-shadow: -100vmin 0 12.816657272618201vmin currentColor;
}
.background span:nth-child(43) {
  color: #E45A84;
  top: 16%;
  left: 56%;
  animation-duration: 107s;
  animation-delay: -44s;
  transform-origin: 4vw -14vh;
  box-shadow: -100vmin 0 12.58157702676601vmin currentColor;
}
.background span:nth-child(44) {
  color: #583C87;
  top: 16%;
  left: 79%;
  animation-duration: 6s;
  animation-delay: -82s;
  transform-origin: -1vw -20vh;
  box-shadow: -100vmin 0 12.569081479344458vmin currentColor;
}
.background span:nth-child(45) {
  color: #FFACAC;
  top: 32%;
  left: 16%;
  animation-duration: 57s;
  animation-delay: -97s;
  transform-origin: -17vw -14vh;
  box-shadow: 100vmin 0 13.397036191838533vmin currentColor;
}
.background span:nth-child(46) {
  color: #583C87;
  top: 45%;
  left: 43%;
  animation-duration: 30s;
  animation-delay: -114s;
  transform-origin: 18vw -12vh;
  box-shadow: 100vmin 0 13.341137802631263vmin currentColor;
}
.background span:nth-child(47) {
  color: #583C87;
  top: 57%;
  left: 85%;
  animation-duration: 84s;
  animation-delay: -124s;
  transform-origin: 4vw -1vh;
  box-shadow: -100vmin 0 13.27909363887661vmin currentColor;
}
.background span:nth-child(48) {
  color: #FFACAC;
  top: 62%;
  left: 92%;
  animation-duration: 21s;
  animation-delay: -86s;
  transform-origin: 14vw -2vh;
  box-shadow: 100vmin 0 13.302035507257308vmin currentColor;
}
.background span:nth-child(49) {
  color: #E45A84;
  top: 29%;
  left: 35%;
  animation-duration: 21s;
  animation-delay: -76s;
  transform-origin: 13vw -19vh;
  box-shadow: -100vmin 0 12.710975755605293vmin currentColor;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.cloud {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

/* .star {
  position: absolute;
  top: 50%;
  left: 160%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-image: url('https://img.icons8.com/?size=512&id=EhEaKbQpE5Qw&format=png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: data-packets-anim 2s infinite;
  transform-origin: right bottom;
  z-index: -3;
} */

@keyframes data-packets-anim {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  animation: fade-in 0.5s;
  position: absolute;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  font-weight: 500;
  margin-bottom: 20px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 0px solid;
  border-radius: 5px;
  background-color: #6adcf862;
  font-size: 16px;
  transition: background-color 0.2s, box-shadow 0.2s;
  background: rgba( 255, 255, 255, 0.45 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: black;
}

input:focus, input:active {
  background: rgba( 255, 255, 255, 0 );
  color: white;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  outline:none;
  box-shadow:0px 0px 10px #63e2b7;
}

.create {
	margin-top: 20px;
  background: rgba( 46, 204, 113, 0.75 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

button {
	display: block;
	width: 100%;
	padding: 10px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	transition: background-color 0.2s;
  background: rgba( 46, 204, 113, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16px );
  -webkit-backdrop-filter: blur( 16px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

form{
background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

form.disabled {
  opacity: 0;
  pointer-events: none;
}

.form-switch{
  display: flex;
  width: 100%;
  max-width: 450px;
  height: 6vh;
  gap: 5vw;
  padding-bottom: 15px;
}

.form-div{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
}

.form-switch .disabled{
  color: white;
  border-radius: 10px;
  border: 1px solid #63e2b7;
  background-color: transparent;
  box-shadow:
  0px 0px 14px #63e2b7,
  0px 0px 11px #63e2b7,
  0px 0px 7.8px #63e2b7,
  0px 0px 20px #63e2b7,
  inset 0px 0px 104.2px -44px #63e2b877,
  inset 0px 0px 112.9px -44px #63e2b87a,
  inset 0px 0px 108.1px -44px #63e2b880,
  inset 0px 0px 98.9px -44px #63e2b886,
  inset 0px 0px 92px -44px #63e2b873,
  inset 0px 0px 127px -44px #63e2b860;
}

button:hover {
	background-color: #20b45ea9;
}

.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
}

.confirmation-panel {
	width: max-content;
  position: relative;
  background-color: rgba(46, 204, 113, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: fade-in 0.5s;
  backdrop-filter: blur(10px);
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
	font-size: 150%;
}

.close-panel {
	margin: 2vh 0 0 0;
	width: 100%;
  position: relative;
	font-size: 100%;
  font-weight: bold;
  color: #e0e0e0;
  background-color: transparent;
  border: 1px solid;
  cursor: pointer;
  transition: color 0.2s;
}

.close-panel:hover {
	color: #000000;
}
