.flag {
    position: relative;
    top: 30px;
    left: 45px;
    height: 200px;
    width: 300px;
    display: grid;
    grid-template-rows: auto auto auto;
    border: solid 2px #000000;
}

.white { background-color: #ffffff; }
.blue { background-color: #0000ff; }
.red { background-color: #ff0000; }


.heart {
    position: relative;
    width: 200px; 
    height: 370px;
    }
    .heart:before, 
    .heart:after {
    content: "";
    position: absolute; 
    left: 200px; 
    top: 80px;
    width: 200px; 
    height: 300px;
    background: #EE4156;
    border-radius: 100px 100px 0 0;
    transform: rotate(-45deg); 
    transform-origin: 0 100%;
    }
    .heart:after {
    left: 0px;
    transform: rotate(45deg); 
    transform-origin: 100% 100%;
    }
