<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cloud Storage</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link id="favicon" rel="icon" type="image/x-icon" href="https://img.icons8.com/?size=512&id=21754&format=png">
  <script src="{% static 'script.js' %}" defer></script>
</head>
<body>
<div class="container">
  <div class="cloud">
    <div class="star"></div>
  </div>
  <div class="form-switch">
    <button class="signup-btn active" onclick="get_users()">Sign Up</button>
    <button class="login-btn">Log In</button>
  </div>
  <div class="form-div">
    <form id="registration-form" class="disabled" method="POST">
      {% csrf_token %}
      <h2>Create an Account</h2>
      <input type="text" name="name" placeholder="Name" required id="name">
      <input type="email" name="email" placeholder="Email Address" required id="email">
      <input type="password" name="password" placeholder="Password" required id="password">
      <input type="password" name="confirm_password" placeholder="Confirm password" required id="pass_confirm">
      <button type="submit" class="create">Create Account</button>
    </form>
    <form id="login-form" method="POST">
      {% csrf_token %}
      <h2>Log In</h2>
      <input type="email" name="email" placeholder="Email Address" required id="login-email">
      <input type="password" name="password" placeholder="Password" required id="login-password">
      <button type="submit" class="create">Log In</button>
    </form>
  </div>
  <div class="confirmation-overlay">
    <div class="confirmation-panel">
      <h3>Thank you for registering!</h3>
      <button class="close-panel">Close</button>
    </div>
  </div>
</div>
</body>
</html>
