body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.branding {
  background: aqua;
  color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  width: 50%;
}

.form {
  width: 50%;
  padding: 2rem;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

input {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.25rem;
}

button {
  background: aqua;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
}