#loadingIndicator{
  position: absolute;
  display: inline-block;
  background-image: url("https://img.icons8.com/?size=512&id=EhEaKbQpE5Qw&format=png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: loadingAnimation 2s infinite;
  transform-origin: right bottom;
  width: 50px;
  height: 50px;
  opacity: 100%;
  margin: 4vh 0 0 3vw;
}


@keyframes loadingAnimation{
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.cancel{
  margin-left: 1vw; 
}

.btn{
  margin-top: 1.5vh; 
}