.IMGlogo{
  position: absolute;
  left: auto;
  top: 2.1vw;
  right: 2.1vw;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
}

div{
  display: inline-block;
}

body{
  background-color: rgba(0, 225, 255, 0.363);
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#root{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 23vh;
  background: rgba( 226, 195, 252, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.navbar{
  width: 50vw;
  height: 10vh;
  justify-content: center;
  border-radius: 2vw;
  margin-top: 2vh;
  background: rgba( 138, 43, 226, 0.7 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 2vw;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

a{
  color: aliceblue!important;
  font-size: 1.5vw;
  font-weight: 700;
}

.navbar-nav{
  color: aliceblue!important;
  width: 50vw;
  justify-content: space-around;
}

h2 {
  padding-top: 1vh;
  font-size: 1.5vw;
  margin-left: 2vw;
}
p{
  font-size: 1vw;
  margin-left: 2vw;
}

li{
  display: inline-block;
}

.bg-light{
  background-color: blueviolet!important;
}