body {
  width: 100vw;
  height: 100vh;
  background-image: url("https://cloudblesk.site/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#loadingIndicator {
  position: absolute;
  display: inline-block;
  background-image: url("https://img.icons8.com/?size=512&id=EhEaKbQpE5Qw&format=png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: loadingAnimation 2s infinite;
  transform-origin: right bottom;
  pointer-events: none;
  width: 12vw;
  height: 12vw;
  opacity: 0%;
  z-index: 999;
}

@keyframes loadingAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.cancel {
  margin-left: 1vw;
}

.btn {
  margin-top: 1.5vh;
}

img {
  pointer-events: none;
}

#image-container {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: -99;
}
