body{
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.body{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  justify-items: center;
}

.RSP{
  margin-top: 35px;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 170px;
  align-items: center;
  border: 2px solid blue;
  border-radius: 10px;
}

.RSP button, .rules button{
  font-size: 2.3rem;
  width: 350px;
  height: 60px;
  background-color: rgb(72, 213, 248);
  border-color: rgb(4, 72, 134);
  font-size: 2rem;
  border-radius: 10px;
}

.RSP button:active, .rules button:active{
  animation: scale 150ms ease-in-out;
  background-color: rgb(15, 154, 219);
}

@keyframes scale {
  0% {
    scale: 100%;
  }
  50% {
    scale: 90%;
  }
  100% {
    scale: 100%;
  }
}


#textForm{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding-top: 20px;
  right: 80px;
}

#textForm select{
  height: 60px;
  width: 70px;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 15px;
  border: 2px solid blueviolet;
  border-radius: 10px;
}

#textForm input{
  padding: 10px;
  margin-bottom: 15px;
  height: 30px;
  font-size: 2.5rem;
  border: 2px solid blueviolet;
  border-radius: 10px;
}

#textForm button{
  font-size: 2.3rem;
  width: 350px;
  height: 60px;
  background-color: rgb(190, 135, 241);
  border-color: rgb(90, 20, 117);
  font-size: 2rem;
  border-radius: 10px;
}

#textForm button:active{
  animation: scale 150ms ease-in-out;
  background-color: rgba(152, 103, 209);
}

#test{
  margin-top: 50px;
  display: flex;
  height: auto;
  flex-direction: column;
  font-size: 130%;
  color: rgb(214, 2, 90);
  border-radius: 10px;
  padding: 0px 35px 15px 35px;
}
#test select{
  height: 60px;
  width: 70px;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 15px;
  border: 2px solid rgb(226, 43, 119);
  border-radius: 10px;
  color: rgb(214, 2, 90);
  background-color: rgba(255, 255, 255, 0);
}
#test span{
  padding: 10px;
  margin-bottom: 15px;
  height: 30px;
  font-size: 2rem;
  border: 2px solid rgb(226, 43, 119);
  border-radius: 10px;
  align-items: center;
}

.fix{
  height: 100px;
  display: flex;
  align-items: center;
}

#checkbox{
  position:absolute;
  width: 100px;
  height: 100px;
  opacity: 0%;
  margin-bottom: 25px;
  margin-left: 315px;
}

#cross{
  position: absolute;
  width: 75px;
  height: 75px;
  opacity: 0%;
  margin-bottom: 15px;
  margin-left: 330px;
}

#fix_div{
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  z-index: -99999;
}

@keyframes appearance {
  0% {
    opacity: 20%;
  }
  10% {
    opacity: 50%;
  }
  20% {
    opacity: 100%;
  }
  80% {
    opacity: 100%;
  }
  90% {
    opacity: 50%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes appearance_checkbox_back {
  0% {
    background-color: rgba(190, 238, 141, 0.1);
  }
  10% {
    background-color: rgba(190, 238, 141, 0.3);
  }
  20% {
    background-color: rgba(190, 238, 141, 0.445);
  }
  80% {
    background-color: rgba(190, 238, 141, 0.445);
  }
  90% {
    background-color: rgba(190, 238, 141, 0.3);
  }
  100% {
    background-color: rgba(190, 238, 141, 0.1);
  }
}
@keyframes appearance_cross_back {
  0% {
    background-color: rgba(238, 141, 141, 0.1);
  }
  10% {
    background-color: rgba(238, 141, 141, 0.3);
  }
  20% {
    background-color: rgba(238, 141, 141, 0.445);
  }
  80% {
    background-color: rgba(238, 141, 141, 0.445);
  }
  90% {
    background-color: rgba(238, 141, 141, 0.3);
  }
  100% {
    background-color: rgba(238, 141, 141, 0.1);
  }
}


dialog{
  position: absolute;
  transform: scale(130%);
  font-size: 1.4rem;
  color: white;
  background: linear-gradient(90deg, rgba(255, 0, 0, 0.7), rgba(0, 0, 255, 0.7));
  border: 5px solid white;
}

dialog p{
  font-size: 1.3em;
}

dialog form{
  display: flex;
  justify-content: space-around;
}

dialog button{
  padding: 10px;
  font-size: 1.4rem;
  color: white;
  background: linear-gradient(-90deg, rgba(255, 0, 0, 0.7), rgba(0, 0, 255, 0.7));
  border: 0px solid white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 8px;
}

#myDialog_choice_switch, #myDialog_choice_if{
  width: 500px;
  text-align: center;
}

#myDialog_choice_switch button, #myDialog_choice_if button{
  padding: 10px 20px 10px 20px;
  font-size: 1.4rem;
  color: white;
  background: linear-gradient(-90deg, rgba(255, 0, 0, 0.7), rgba(0, 0, 255, 0.7));
  border: 0px solid white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#myDialog_choice_switch button:hover, #myDialog_choice_if button:hover{
  animation: button_size ease-in-out 250ms;
  animation-fill-mode:forwards;
}

dialog button:hover{
  animation: button_size ease-in-out 250ms;
  animation-fill-mode:forwards;
}

@keyframes button_size{
  100%{
    scale: 120%;
  }
}

#myDialog button:nth-child(2){
  width: 82px;
}

.transparent_div{
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: -999;
  align-items: center;
}

.rules{
  position: absolute;
  bottom: 0;
  padding: 20px;
}

#div_reset_rules{
  display: flex;
  flex-direction: row-reverse;
}

#i{
  font-size: 80%;
}

#emoji{
  font-size: 70%;
}

.withdraw{
  width: 320px;
  height: 115px;
  margin-right: 200px;
  margin-top: 90px;
  padding: 0 30px 30px 30px;
  border: 2px solid #000000;
  border-radius: 20px;
}

.withdraw h1{
  padding: 15px 0 15px 15px;
  font-size: 3rem;
  font-weight: 100;
  background-color: #ffc04a;
  border-radius: 10px;
}
.withdraw span{
  text-align: center;
  padding-left: 30px;
}


#spisok{
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  width: max-content;
  margin-right: 200px;
  grid-column: 2;
  background-color: #ffc04a;
  border: 20px solid #fcaf1fe1;
  border-radius: 30px;
  padding: 20px;
}