.body{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  justify-items: center;
}


.RSP{
  margin-top: 35px;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 170px;
  align-items: center;
  border: 2px solid blue;
  border-radius: 10px;
}

.RSP button{
  font-size: 2.3rem;
  width: 350px;
  height: 60px;
  background-color: rgb(72, 213, 248);
  border-color: rgb(4, 72, 134);
  font-size: 2rem;
  border-radius: 10px;

}

.RSP button:active{
  animation: scale 150ms ease-in-out;
  background-color: rgb(15, 154, 219);
}

@keyframes scale {
  0% {
    scale: 100%;
  }
  50% {
    scale: 90%;
  }
  100% {
    scale: 100%;
  }
}


#textForm{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding-top: 20px;
  right: 80px;
}

#textForm select{
  height: 60px;
  width: 70px;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 15px;
  border: 2px solid blueviolet;
  border-radius: 10px;
}

#textForm input{
  padding: 10px;
  margin-bottom: 15px;
  height: 30px;
  font-size: 2.5rem;
  border: 2px solid blueviolet;
  border-radius: 10px;
}

#textForm button{
  font-size: 2.3rem;
  width: 350px;
  height: 60px;
  background-color: rgb(190, 135, 241);
  border-color: rgb(90, 20, 117);
  font-size: 2rem;
  border-radius: 10px;
}

#textForm button:active{
  animation: scale 150ms ease-in-out;
  background-color: rgb(152, 103, 209);
}

#test{
  font-size: 130%;
  text-align: center;
  color: rgb(214, 2, 90);
  border-radius: 10px;
  padding: 1px 90px 30px 65px;
}
#test select{
  height: 60px;
  width: 70px;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 15px;
  border: 2px solid rgb(226, 43, 119);
  border-radius: 10px;
  color: rgb(214, 2, 90);
}
#test span{
  padding: 10px;
  margin-bottom: 15px;
  height: 30px;
  font-size: 2rem;
  border: 2px solid rgb(226, 43, 119);
  border-radius: 10px;
}

#checkbox{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 380px;
  opacity: 0%;
  right: 995px;
}

#cross{
  position: absolute;
  width: 75px;
  height: 75px;
  top: 398px;
  right: 1010px;
  opacity: 0%;
}

@keyframes appearance {
  0% {
    opacity: 20%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}


