.main {
    position: relative;
    height: 200px;
    width: 300px;
    display: grid;
    grid-template-rows: auto auto auto;
    border: solid 1px #000000;
}

.white { background-color: #ffffff; }
.blue { background-color: #0000ff; }
.red { background-color: #ff0000; }


.heart {
    position: relative;
    width: 200px; 
    height: 70px;
    }
    .heart:before, 
    .heart:after {
    content: "";
    position: absolute; 
    left: 50px; 
    top: 10px;
    width: 50px; 
    height: 80px;
    background: #EE4156;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg); 
    transform-origin: 0 100%;
    }
    .heart:after {
    left: 0;
    transform: rotate(45deg); 
    transform-origin: 100% 100%;
    }